<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/rstyle.css">
</head>
<body>

<form method="post" action="/register">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="emaill"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="emaill" required>
        <label for="fname"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="fname" id="fname" required>
        <label for="sname"><b>Surname</b></label>
        <input type="text" placeholder="Enter Surname" name="sname" id="sname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <label for="country"><b>Country</b></label>
        <input type="text" placeholder="Country" name="country" id="country" required>
        <button type="submit" class="registerbtn" onclick="createCookie()" value="submit">Register</button>

    </div>

    <div class="container signin">
        <p>Already have an account? <a href="http://localhost:3000/signin">Sign in</a>.</p>
    </div>
</form>

<script>
    function createCookie(name,pwds){
        let username = document.getElementById("fname");
        let pwd = document.getElementById("psw");
        let email = document.getElementById("emaill");
        let sm = document.getElementById("sname");
        let country = document.getElementById("country");


        today = new Date();
        let expire = new Date();
        expire.setTime(today.getTime() + 3600000*24*15);


        document.cookie = "username="+username.value+";path=/" + ";expires="+expire.toUTCString();
        document.cookie = "pwd="+encodeURI(pwd.value)+";path=/" + ";expires="+expire.toUTCString();
        document.cookie = "email="+encodeURI(email.value)+";path=/" + ";expires="+expire.toUTCString();
        document.cookie = "sm="+encodeURI(sm.value)+";path=/" + ";expires="+expire.toUTCString();
        document.cookie = "country="+encodeURI(country.value)+";path=/" + ";expires="+expire.toUTCString();
        //can only write one entity at a time (name, pass)
    }


    //event handler for page load - runs on every refresh
    window.onload = function(){

        //how to read back the stored name and password?
        //https://stackoverflow.com/q/10730362/6160662
        //https://stackoverflow.com/q/5639346/6160662


        //for now


        document.getElementById('username').value = uname;
        document.getElementById('psw').value = pass;
        document.getElementById('emaill').value = email;
        document.getElementById('sname').value = snam;
        document.getElementById('country').value = cont;



    }
</script>
</body>
</html>
